:root {
    --main-color : #0065FC;
    --main-colorlighter : #DEEBFF;
    --main-grey : #F2F2F2;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    object-fit: cover;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
ul {
    list-style-type: none;
}
h1, h2 {
    font-size: 16px;
}
h3 {
    font-size: 14px;
}
a {
    text-decoration: none;
    color: black;
}
p {
    color: black;
}
header h2 {
    margin: 30px 0;
}
span {
    font-weight: bold;
}
footer {
    background-color: var(--main-grey);
    width: 100%;
}
.wrapper {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
}
.border-radius {
    border-radius: 15px;
}
.grid-nav {
    display: grid;
}
.grid-1-11 {
    grid-template-columns: 1fr 11fr;
    grid-column-gap: 0px;
    align-items: center;
}
ul.menu-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
ul.menu-nav li {
    float: right;
    margin-right: 40px;
}
ul.menu-nav li a{
    padding: 0 10px;
}
ul.menu-nav li a.actif {
    color: var(--main-color);
    font-weight: bold;
} 
ul.menu-nav li a:hover:not(.actif) {
    color: var(--main-color);
    border-top: var(--main-color) 2px solid;
    padding: 48px 10px 0 10px;
}
.fa-info {
    color: var(--main-color);
}
.hebergements {
    grid-area: hebergements;
    width: 880px;
    height: auto;
    background-color: var(--main-grey);
}
.hebergements h2 {
    margin: 45px 40px 25px;
}
.hebergements>h3 {
    margin: 45px 40px;
}
.populaires {
    grid-area: populaires;
    width: 420px;
    height: auto;
    background-color: var(--main-grey);
}
.grid-container {
    display: grid;
    grid-template-areas: 'hebergements hebergements populaires';
    max-width: 1340px;
    column-gap: 40px;
}
.grid-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin: 0 40px;
}
.hebergements .panel img {
    height: 100%;
    width: 236px;
    max-height: 114px;
    border-radius: 10px 10px 0 0;
}
.hebergements .panel {
    background-color: white;
    width: 246px;
    height: fit-content;
    padding: 5px;
    box-shadow: 3px 3px 10px #CCCCCC;
}
.populaires .panel2 {
    background-color: white;
    width: 345px;
    height: 144px;
    padding: 5px;
}
.populaires .panel2 img {
    width: 127px;
    height: 134px;
    max-height: 100%;
    border-radius: 10px 0 0 10px;
}
.fa-star-blue {
    color: var(--main-color);
}
.fa-star-grey {
    color: #d9d9d9;
}
.grid-container2 {
    display: grid;
    grid-template-areas: 'col1 col2 col3 col4';
    max-width: 1340px;
}
.col1 {
    grid-area: col1;
}
.col2 {
    grid-area: col2;
}
.col3 {
    grid-area: col3;
}
.col4 {
    grid-area: col4;
}
.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 40px 0;
}
.footer div {
    width: 30%;
}
.footer ul {
    padding: 15px 0;
}
.footer li {
    padding: 10px 0;
}