:root {
    --main-color : #0065FC;
    --main-colorlighter : #DEEBFF;
    --main-grey : #F2F2F2;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    object-fit: cover;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
ul {
    list-style-type: none;
}
h1, h2 {
    font-size: 16px;
}
h3 {
    font-size: 14px;
}
a {
    text-decoration: none;
    color: black;
}
p {
    color: black;
}
header h2 {
    margin: 30px 0;
}
span {
    font-weight: bold;
}
footer {
    background-color: var(--main-grey);
    width: 100%;
}
.wrapper {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
}
.border-radius {
    border-radius: 15px;
}
.margin-left {
    margin-left: 10px;
}
.grid-nav {
    display: grid;
}
.grid-1-11 {
    grid-template-columns: 90px auto;
    grid-column-gap: 0px;
    align-items: center;
}
.brand img {
    width: 90px;
}
header.wrapper {
    position: relative;
}
.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
ul.menu-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
ul.menu-nav li {
    float: right;
    margin-right: 40px;
}
ul.menu-nav li a{
    padding: 0 10px;
}
.actif {
    color: var(--main-color);
    font-weight: bolder;
} 
ul.menu-nav li a:hover:not(.actif) {
    color: var(--main-color);
    border-top: var(--main-color) 2px solid;
    padding: 43px 10px 0 10px;
}
.search {
    margin-bottom: 40px;
}
.search h2 {
    margin-bottom: 10px;
    font-size: large;
}
.searchbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 20px 0;
}
.fa-map-marker-alt {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid var(--main-grey);
    background-color: var(--main-grey);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: large;        
}
.search input[type="search"] {
    margin: 0;
    padding: 10px;
    border-top: 1px solid var(--main-grey);
    border-bottom: 1px solid var(--main-grey);
    border-right: 0;
    border-left: 0;
    font-weight: bold;
}
.search button {
    padding: 10px 5px 10px 15px;
    background-color: var(--main-color);
    border: solid 1px var(--main-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.searchIcon {
    visibility: hidden;
}
.filter {
    display: flex;
    flex-direction: row;    
    flex-wrap: nowrap;
    align-items: center;
}
.filter p {
    font-weight: bold;
}
.filter div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 10px;
}
.filter .fas {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-right: -20px;
    width: 45px;
    height: 45px;
    border: 2px solid var(--main-colorlighter);
    color: var(--main-color);
    border-radius: 25px;
    background-color: var(--main-colorlighter);
}
.filter span {
    padding: 12px 20px 10px 30px;
    border-top: 2px solid var(--main-grey);
    border-right: 2px solid var(--main-grey);
    border-bottom: 2px solid var(--main-grey);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.filter div:hover .fas {
    border-color: var(--main-color);
    opacity: 80%;
    cursor: pointer;
}
.filter span:hover {
    color: var(--main-color);
    border-color: var(--main-color);
    opacity: 80%;
    cursor: pointer;
}
.info {
    display: flex;
    margin-top: 30px;
}
.info p {
    width: 25px;
    height: 25px;
    border: 2px solid var(--main-grey);
    border-radius: 50%;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.info span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}
.hebergements {
    grid-area: hebergements;
    width: 880px;
    height: auto;
    background-color: var(--main-grey);
}
.hebergements h2 {
    margin: 45px 40px 25px;
}
.hebergements>h3 {
    margin: 45px 40px;
}
.hebergements>h3 a:hover {
    opacity: 50%;
}
.populaires {
    grid-area: populaires;
    width: 420px;
    height: auto;
    background-color: var(--main-grey);
}
.grid-container {
    display: grid;
    grid-template-areas: 'hebergements hebergements populaires';
    max-width: 1340px;
    column-gap: 40px;
}
.grid-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin: 0 40px;
}
.hebergements .panel img {
    height: 100%;
    width: 236px;
    max-height: 114px;
    border-radius: 10px 10px 0 0;
}
.hebergements .panel {
    background-color: white;
    width: 246px;
    height: fit-content;
    padding: 5px;
    box-shadow: 3px 3px 10px #CCCCCC;
}
.panel a>* {
    padding-bottom: 5px;
}
.title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 45px 40px 25px 40px;
    justify-content: space-between;
}
.fa-chart-line {
    font-size: large;
}
.populaires article {
    margin: 0 auto;
}
.populaires a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.populaires .panel2 {
    background-color: white;
    width: 345px;
    height: 144px;
    padding: 5px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 10px #CCCCCC;
}
.populaires .panel2 img {
    width: 127px;
    height: 134px;
    max-height: 100%;
    border-radius: 10px 0 0 10px;
}
.panel2 .details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
}
.details div>* {
    padding-bottom: 5px;
}
.fa-star-blue {
    color: var(--main-color);
}
.fa-star-grey {
    color: #d9d9d9;
}
.activités h2 {
    margin: 50px 0 25px 0;
}
.grid-container2 {
    display: grid;
    grid-template-areas: 'col1 col2 col3 col4';
    max-width: 1340px;
    column-gap: 40px;
    margin-bottom: 50px;
}
.col1 {
    grid-area: col1;
    height: 446px;
    box-shadow: 3px 3px 10px #CCCCCC;
}
.col1 img {
    height: 390px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.col1 h3 {
    margin: 20px;
}
.col2 {
    grid-area: col2;
}
.card1 img {
    height: 180px;
    width: 300px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.card2 img {
    height: 110px;
    width: 300px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.col2 h3 {
    margin: 20px;
    padding-bottom: 20px;
}
.col2 div {
    box-shadow: 3px 3px 10px #CCCCCC;
}
.frioul {
    margin-top: 40px;
}
.longchamp {
    margin-top: 40px;
}
.col3 {
    grid-area: col3;
    height: 446px;
    box-shadow: 3px 3px 10px #CCCCCC;
}
.col3 img {
    height: 390px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.col3 h3 {
    margin: 20px;
}
.col4 {
    grid-area: col4;
}
.col4 h3 {
    margin: 20px;
    padding-bottom: 20px;
}
.col4 div {
    box-shadow: 3px 3px 10px #CCCCCC;
}
.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 40px 0;
}
.footer div {
    width: 30%;
}
.footer ul {
    padding: 15px 0;
}
.footer li {
    padding: 10px 0;
}


@media screen and (max-width: 1024px) {
    .grid-1-1-1 {
        grid-template-columns: 335px 335px;
        grid-template-rows: repeat(3, 1fr);
        margin: 0 30px;
    }
    .hebergements .panel {
        width: 100%;
    }
    .hebergements .panel img {
        width: 100%;
    }
    .activités h2 {
        margin: 40px 20px 25px 30px;
    }
    .grid-container2 {
        grid-template-areas:
        "col1 col2"
        "col3 col4";
        row-gap: 20px;
        margin: 0 30px 20px 30px;
    }
    .footer {
        justify-content: space-between;
        padding: 30px;
    }
    
}
@media screen and (max-width: 767px) {
    
    .grid-1-11 {
        grid-template-columns: 1fr;
    }
    header h2 {
        margin: 20px 0 10px 20px;
    }
    .sign-in {
        position: absolute;
        top: 5.5vh;
        right: 3vw;
    }
    .menu {
        justify-content: center;
    }
    .navbar {
        border-bottom: 3px solid var(--main-grey);
        width: 100%;
    }
    ul.menu-nav li:first-child a {
        color: var(--main-color);
        border-bottom: 3px solid var(--main-color);
        padding:0 45px 15px 45px;
    }
    ul.menu-nav {
        justify-content: center;
        padding: 15px 0 15px 0;
    }
    .search {
        margin-top: 30px;
    }
    .search div:first-child {
        margin-left: 20px;
    }
    button > span {
        display: none;
    }
    .searchIcon {
        visibility: visible;
    }
    .search button {
        padding: 15px;
        border-radius: 15px;
    }
    .search input[type="search"] {
        padding-right: 25px;
        padding-left: 25px;
    }
    .filter {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .filter p {
        width: 100%;
        margin-left: 20px;
    }
    .filter div {
        margin: 10px 10px 5px 20px;
    }
    .info {
        margin: 20px 20px 0 20px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "populaires"
                            "hebergements";
    }
    .grid-1-1-1 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        margin: 0 20px; 
    }
    .populaires {
        width: 375px;
        border-radius: unset;
        padding-bottom: 40px;
    }
    .title {
        margin: 40px 20px 25px;
    }
    .hebergements {
        background-color: white;
        width: 375px;
    }
    .hebergements .panel {
        width: 100%;
    }
    .hebergements .panel img {
        width: 100%;
    }
    .hebergements > h3 {
        margin: 35px 20px 0 20px;
    }
    .hebergements h2 {
        margin: 40px 25px 25px;
    }
    .activités h2 {
        margin-left: 20px;
    }
    .grid-container2 {
        grid-template-columns: 1fr;
        grid-template-areas: "col1"
                             "col2"
                             "col3"
                             "col4";
        row-gap: 20px;
        margin: 20px;
    }
    .col1 {
        height: 190px;
    }
    .col1 img {
        height: 132px;
        width: 100%;
    }
    .col1 h3 {
        margin: 10px 10px 10px 0;
        padding: 10px;
    }
    .col2 {
        height: 380px;
    }
    .card1 img {
        height: 132px;
        width: 100%;
    }
    .card2 img {
        height: 132px;
        width: 100%;
    }
    .col2 h3 {
        margin: 10px 10px 10px 0;
        padding: 5px 10px 15px 10px;
    }
    .frioul {
        margin-top: 20px;
    }
    .col3 {
        height: 190px;
    }
    .col3 img {
        height: 132px;
        width: 100%;
    }
    .col3 h3 {
        margin: 10px 10px 10px 0;
        padding: 10px;
    }
    .col4 h3 {
        margin: 10px 10px 10px 0;
        padding: 5px 10px 15px 10px;
    }
    .longchamp {
        margin-top: 20px;
    }
    .footer {
        flex-direction: column;
        padding: 35px 30px;
    }
    .footer div {
        margin-bottom: 15px;
        width: 100%;
    }
    .footer div:last-of-type {
        margin-bottom: 0;
    }
    .footer li {
        padding: 10px 0;
    }

}